params {

    input {
      fastq_path = "Macintosh HD⁩/Users⁩/⁨adminuser⁩/⁨Desktop⁩/⁨CDC⁩/⁨nextflow-NeST2⁩/⁨fq⁩/Insilico"
      fasta_path = "‎⁨Macintosh HD⁩/Users⁩/adminuser⁩/Desktop⁩/CDC⁩/nextflow-NeST2⁩/ref⁩/pfalciparum⁩/adapters.fa"
      reference_path = "Macintosh HD⁩/Users⁩/adminuser⁩/Desktop⁩/CDC⁩/nextflow-NeST2⁩/ref⁩/pfalciparum⁩/mdr.fa"
      bed_path= "Macintosh HD⁩/Users⁩/adminuser⁩/Desktop⁩/CDC⁩/nextflow-NeST2⁩/ref⁩/pfalciparum⁩/mdr.bed"
      alginer = bowtie2
      variant_path="Macintosh HD⁩/Users⁩/adminuser⁩/Desktop⁩/CDC⁩/nextflow-NeST2⁩/ref⁩/pfalciparum⁩/Reportable_SNPs.csv"
    }
 
  output {
      folder = "Macintosh HD⁩/Users⁩/adminuser⁩/Desktop⁩/CDC⁩/nextflow-NeST2⁩/local/Insilico"
    }

}



                    