params {

    input {
      fastq_path = "Macintosh HD⁩/Users⁩/⁨adminuser⁩/⁨Desktop⁩/⁨CDC⁩/⁨nextflow-NeST2⁩/⁨fq⁩/Insilico"
      fasta_path = "‎⁨Macintosh HD⁩/Users⁩/adminuser⁩/Desktop⁩/CDC⁩/nextflow-NeST2⁩/ref⁩/pfalciparum⁩/adapters.fa"
      reference_path = "Macintosh HD⁩/Users⁩/adminuser⁩/Desktop⁩/CDC⁩/nextflow-NeST2⁩/ref⁩/pfalciparum⁩/mdr.fa"
      bed_path= "Macintosh HD⁩/Users⁩/adminuser⁩/Desktop⁩/CDC⁩/nextflow-NeST2⁩/ref⁩/pfalciparum⁩/mdr.bed"
      alginer = bowtie2
      variant_path="Macintosh HD⁩/Users⁩/adminuser⁩/Desktop⁩/CDC⁩/nextflow-NeST2⁩/ref⁩/pfalciparum⁩/Reportable_SNPs.csv"
      #Define deffault paths and aligner informations
      def_path = "{0}/lib".format(os.path.abspath(os.path.dirname(os.path.realpath(__file__))))
      ref_def_path = "{0}/ref".format(os.path.abspath(os.path.dirname(os.path.realpath(__file__))))
      bbduk = 'bbduk.sh' #"{0}/bbmap/bbduk.sh".format(def_path)
      bbmap = 'bbmap.sh' #"{0}/bbmap/bbmap.sh".format(def_path)
      bwa = 'bwa' #"{0}/bwa/bwa".format(def_path)
      bowtie = 'bowtie2' #"{0}/bowtie2/bowtie2".format(def_path)
      snap = 'snap-alinger' #"{0}/snap/snap-aligner".format(def_path)
      smt = 'samtools' #"{0}/samtools/samtools".format(def_path)
      bft = 'bcftools' #"{0}/bcftools/bcftools".format(def_path)
      gatk = 'gatk' #"{0}/GenomeAnalysisTK.jar".format(def_path)
      pic = 'picard' #"{0}/picard.jar".format(def_path)
      sra = 'fastq-dump' #'{0}/sratoolkit/bin/fastq-dump'.format(def_path)
      voi = None #'{0}/Reportable_SNPs.csv'.format(ref_def_path)
      #if 'java version "1.8.' in str(subprocess.check_output(["java", "-version"], stderr=subprocess.STDOUT).decode('UTF-8').split('\n')[0]):
      java = 'java'
      #else:
      #    java_def = "{0}/jdk/bin/java".format(def_path)
      aligner = {'bwa' : bwa, 'snap' : snap, 'bowtie2': bowtie, 'bbmap': bbmap}
    }
 
  output {
      folder = "Macintosh HD⁩/Users⁩/adminuser⁩/Desktop⁩/CDC⁩/nextflow-NeST2⁩/local/Insilico"
    }

}



                    